/* **************
Created using a tutorial from Redstapler
************** */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: #0a0a14;
}

canvas {
  display: block;
}
